{% extends "foundation/base.html" %}
{% load static %}

{% block css %}
{# Load the custom website styles #}
<link rel="stylesheet" type="text/css" href="{% static 'stilwiese/css/basic.css' %}">
{# Give subsides the possibility to specify custom css without overwriting the base css #}
{% block base_body_css %}{% endblock %}
{% endblock %}
{% block head_js %}
    <script>

    </script>
{% endblock head_js %}
{% block body_js %}
    <script>
        $("#orbit1").on("after-slide-change.fndtn.orbit", function(event, orbit) {
            $('#slide'+(orbit.slide_number+1)).click();
            /* $("#orbit2").siblings(".orbit-next").click(); */
        });

    </script>

{% endblock body_js %}

{% block base_body%}
    {# <img src="http://newevolutiondesigns.com/images/freebies/city-wallpaper-11.jpg" class="bg"/> #}
    <img src="{% static "stilwiese/img/background.jpg" %}" class="bg" alt=""/>

    <div class="row header container">
        <div class="medium-2 large-2 columns header" id="logo-column">
            <div class="panel text-center header" id="logo-panel">
                <div id="logo">IC</div>
            </div>
        </div>
        <div class="medium-10 large-10 columns header">
            <div class="row header" id="upper-header-row">
                <div class="panel header" id="upper-header-panel">
                    <div class="heading">"Wer immer das tut, was er schon kann,</div>
                </div>
            </div>
            <div class="row header" id="lower-header-row">
                <div class="panel header" id="lower-header-panel">
                    <div class="heading right">bleibt immer das, was er schon ist."</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="content-row">
        <div class="medium-3 large-3 columns">
            <div class="row">
                    <ul class="orbit-container" id="orbit1" data-orbit data-options="pause_on_hover: true; resume_on_mouseout: true; animation: 'fade'; animation_speed: 1000;">
                        {# Show orbit images. Images are referenced in templates by image.url using the media root defined in the settings #}
                        <li>
                            <img src="{% static "stilwiese/img/background.jpg" %}" alt="User-Image" style="height:300px; width: 100%"/>
                            <div class="orbit-caption">
                                Caption
                            </div>
                        </li>
                        <li>
                            <img src="{% static "http://www.eroglamour.com/glamour/20110723/fasionpicturessetaw2011/10-fasion-pictures.-set-aw-2011.jpg" %}" alt="User-Image" style="height:300px; width: 100%"/>
                            <div class="orbit-caption">
                                Caption
                            </div>
                        </li>
                        <li>
                            <img src="{% static "http://www.eroglamour.com/glamour/20110723/fasionpicturessetaw2011/www.eroglamour.com-12-fasion-pictures.-set-aw-2011.jpg" %}" alt="User-Image" style="height:300px; width: 100%"/>
                            <div class="orbit-caption">
                                Caption
                            </div>
                        </li>

                    </ul>
            </div>
            <div class="row">
                    <ul class="orbit-container" id="orbit2" style="margin-left: auto; margin-right: auto; width: 50%" data-orbit data-options="bullets: false; slide_number:false; pause_on_hover: false; timer_show_progress_bar: false; timer: false; animation: 'fade'; animation_speed: 1000">
                        {# Show orbit images. Images are referenced in templates by image.url using the media root defined in the settings #}
                        <li data-orbit-slide="orbit2_1">
                            <img src="{% static "stilwiese/img/background.jpg" %}" alt="User-Image" style="height:150px; width: 100%"/>
                            <div class="orbit-caption">
                                Caption
                            </div>
                        </li>
                        <li data-orbit-slide="orbit2_2">
                            <img src="{% static "http://www.eroglamour.com/glamour/20110723/fasionpicturessetaw2011/10-fasion-pictures.-set-aw-2011.jpg" %}" alt="User-Image" style="height:150px; width: 100%"/>
                            <div class="orbit-caption">
                                Caption
                            </div>
                        </li>
                        <li data-orbit-slide="orbit2_3">
                            <img src="{% static "http://www.eroglamour.com/glamour/20110723/fasionpicturessetaw2011/www.eroglamour.com-12-fasion-pictures.-set-aw-2011.jpg" %}" alt="User-Image" style="height:150px; width: 100%"/>
                            <div class="orbit-caption">
                                Caption
                            </div>
                        </li>
                    </ul>
                <a id='slide1' data-orbit-link="orbit2_1"></a>
                <a id='slide2' data-orbit-link="orbit2_2"></a>
                <a id='slide3' data-orbit-link="orbit2_3"></a>
            </div>
        </div>
        <div class="medium-6 large-6 columns">
            <div class="row">
                <div class="large-12 columns">
                    <div class="flex-video">
                    <iframe height="350" width="100%" src="//www.youtube.com/embed/aiBt44rrslw?wmode=opaque&controls=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="medium-12 large-12 columns">
                    <a href="" id='stilwiese' class="button expand radius">Zur Stilwiese</a>
                </div>
            </div>
        </div>
        <div class="medium-3 large-3 columns">
            <div class="row">
                    <ul class="orbit-container" data-orbit data-options="resume_on_mouseout: true; timer: true; animation: 'fade'; animation_speed: 1000">
                        {# Show orbit images. Images are referenced in templates by image.url using the media root defined in the settings #}
                        <li>
                            <img src="{% static "stilwiese/img/background.jpg" %}" alt="User-Image" style="height:300px; width: 100%"/>
                            <div class="orbit-caption">
                                Caption
                            </div>
                        </li>
                    </ul>
            </div>
            <div class="row">
                    <ul class="orbit-container" style="margin-left: auto; margin-right: auto; width: 50%" data-orbit data-options="resume_on_mouseout: true; timer: true; animation: 'fade'; animation_speed: 1000">
                        {# Show orbit images. Images are referenced in templates by image.url using the media root defined in the settings #}
                        <li>
                            <img src="{% static "stilwiese/img/background.jpg" %}" alt="User-Image" style="height:150px; width: 100%"/>
                            <div class="orbit-caption">
                                Caption
                            </div>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
{% endblock %}