{% extends "foundation/base.html" %}
{% load static %}

{% block css %}
{# Load the custom website styles #}
<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'stilwiese/css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'foundation/css/foundation-icons.css' %}">
{# Give subsides the possibility to specify custom css without overwriting the base css #}
{% block my_css %}{% endblock %}
{% endblock %}
{% block head_js %}
    {% block my_head_js %}{% endblock %}
{% endblock%}
{% block body_js %}
    <script>
        check_lines = function () {
             var several_lines = false;
             $('.heading').each(function(){
                var line_height = parseInt($(this).css('line-height'));
                var div_height = $(this).height();
                if(div_height > line_height){
                    several_lines = true;
                }
             });
             if(several_lines){
                 $('.heading').css('visibility', 'hidden');
             }
             else{
                 $('.heading').css('visibility', 'visible')
             }
        };

        $(document).ready(function(){
           check_lines();
        });

        $(window).resize(function(){
           check_lines();
        });
    </script>
    {% block my_body_js %}{% endblock %}
{% endblock body_js %}

{% block base_body%}
    <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">

    <aside class="right-off-canvas-menu">
        <!-- whatever you want goes here -->
        <ul class="off-canvas-list">
          <li><label>Community Sites</label></li>
          <li><a href="{% url home %}">Startseite</a></li>
          <li><a href="{% url stilwiese.views.map %}">Stilwiese</a></li>
          <li><label>My Sites</label></li>
          <li><a href="#">Item 3</a></li>
          <li><a href="#">Item 4</a></li>
        </ul>
    </aside>

    <div class="fixed header">
        <div class="upper-background white-t">

        </div>
        <div class="lower-background red">

        </div>

    </div>
    <div class="fixed">
    <div class="row header container">
        <div class="small-3 medium-3 large-3 columns header" id="logo-column">
            <div class="panel text-center header red lightgrey-f" id="logo-panel">
                <div id="logo">IC</div>
            </div>
        </div>
        <div class="small-3 medium-9 large-9 columns header">
            <div class="row header" id="upper-header-row">
                <div class="panel header red-f" id="upper-header-panel">
                    <div><div class="heading">"Wer immer das tut, was er schon kann,</div></div>
                </div>
            </div>
            <div class="row header" id="lower-header-row">
                <div class="panel header lightgrey-f" id="lower-header-panel">
                    <a class="right-off-canvas-toggle right" href="#" ><i class="fi-list lightgrey-f"></i></a><div class="heading">bleibt immer das, was er schon ist."</div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% block body %}{% endblock %}

    <div class="footer red">
        <div class="row">
            Footer Text
        </div>
    </div>

     <a class="exit-off-canvas"></a>

  </div>
</div>

{% endblock %}