{% extends "foundation/base.html" %}
{% load static %}

{% block css %}
{# Load the custom website styles #}
<link rel="stylesheet" type="text/css" href="{% static 'stilwiese/css/basic.css' %}">
{# Give subsides the possibility to specify custom css without overwriting the base css #}
{% block my_css %}{% endblock %}
{% endblock %}
{% block head_js %}
    {% block my_head_js %}{% endblock %}
{% endblock%}
{% block body_js %}
    {% block my_body_js %}{% endblock %}
{% endblock body_js %}

{% block base_body%}
    {# <img src="http://newevolutiondesigns.com/images/freebies/city-wallpaper-11.jpg" class="bg"/> #}

    <div class="fixed header">
        <div class="upper-background">

        </div>
        <div class="lower-background">

        </div>

    </div>
    <div class="fixed">
    <div class="row header container">
        <div class="medium-2 large-2 columns header" id="logo-column">
            <div class="panel text-center header" id="logo-panel">
                <div id="logo">IC</div>
            </div>
        </div>
        <div class="medium-10 large-10 columns header">
            <div class="row header" id="upper-header-row">
                <div class="panel header" id="upper-header-panel">
                    <div class="heading">"Wer immer das tut, was er schon kann,</div>
                </div>
            </div>
            <div class="row header" id="lower-header-row">
                <div class="panel header" id="lower-header-panel">
                    <div class="heading right">bleibt immer das, was er schon ist."</div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% block body %}{% endblock %}

    <div class="row">
        <div class="footer">

        </div>
    </div>

{% endblock %}