{% extends "stilwiese/base.html" %}
{% load static %}

{% block my_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'stilwiese/css/blog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'foundation/css/foundation-icons.css' %}">

{% endblock %}

{% block my_head_js %}

{% endblock %}

{% block my_body_js %}
    <script src="{% static 'jquery_ui/js/jquery-ui.js' %}"></script>
    <script src="{% static 'stilwiese/js/jquery.flexverticalcenter.js' %}"></script>
    <script src="{% static 'foundation/js/foundation/foundation.equalizer.js' %}"></script>

    <script>

        $.fn.adjustHeight = function(){
            this.each(function(){
                $(this).height($(this).width()*1.33);
            });
        };


        $(document).ready(function(){
           $("img").adjustHeight();
           $(".orbit-slides-container").each(function(){
               $(this).adjustHeight();
           });

           $(".thumbs_col").each(function(){
               $(this).height($(this).parent().find(".columns").eq(0).height());
           });

           $(".thumb2_wrapper").css("margin-top", $(".orbit_col").height()-$(".thumb2_wrapper").height()*2);

            $(".orbit-slides-container").on("after-slide-change.fndtn.orbit", function(event, orbit) {
                var before = 0;
                var after = 0;
                total = orbit.total_slides - 1;
                if (orbit.slide_number - 1 < 0 ){
                   before = total;
                }else {
                   before = orbit.slide_number -1;
                }
                if (orbit.slide_number + 1 > total ){
                   after = 0;
                }else {
                   after = orbit.slide_number + 1;
                }

                before_slide = $(this).attr("id") + "_slide" + before;
                after_slide = $(this).attr("id") + "_slide" + after;
                var third_parent = $(this).parent().parent().parent().parent();
                third_parent.find(".thumb2").attr("data-orbit-link", before_slide);
                third_parent.find(".thumb2").find("img").replaceWith($("li[data-orbit-slide='"+before_slide+"']").find("img").clone());
                third_parent.find(".thumb1").attr("data-orbit-link", after_slide);
                third_parent.find(".thumb1").find("img").replaceWith($("li[data-orbit-slide='"+after_slide+"']").find("img").clone());
                third_parent.find(".thumb1").find("img").adjustHeight();
                third_parent.find(".thumb2").find("img").adjustHeight();
            });
        });

        $(window).resize(function(){
            $("img").adjustHeight();
            $(".thumb2_wrapper").css("margin-top", $(".orbit_col").height()-$(".thumb2_wrapper").height()*2);
        });


        $( ".comments-link" ).click(function() {
            $(this).parent().find( ".comments" ).toggle( "blind", 500 );
        });
    </script>


{% endblock %}

{% block body %}
<div class="row content">
    <div class="medium-7 columns">
        <div class="medium-7 columns orbit_col">
        <a class="th">
        <ul class="orbit-container" id="orbit1" data-orbit data-options="bullets: false; slide_number: false; pause_on_hover: true; resume_on_mouseout: true; animation_speed: 700; animation: fade; timer: false">
                        {# Show orbit images. Images are referenced in templates by image.url using the media root defined in the settings #}
                        <li data-orbit-slide="orbit1_slide0">
                            <img src="{% static "stilwiese/img/lena1.png" %}" alt="User-Image"/>
                        </li>
                        <li data-orbit-slide="orbit1_slide1">
                            <img src="{% static "stilwiese/img/lena2.jpg" %}" alt="User-Image"/>
                        </li>
                        <li data-orbit-slide="orbit1_slide2">
                            <img src="{% static "stilwiese/img/lena3.jpg" %}" alt="User-Image"/>
                        </li>

            </ul>
            </a>
        </div>
        <div class="medium-5 columns thumbs_col">
            <div class="medium-10 columns medium-offset-2"><a class="th thumb1" href="#" data-orbit-link="orbit1_slide1"><img src="{% static "stilwiese/img/lena2.jpg" %}" alt="User-Image"/></a></div>
            <div class="medium-10 columns medium-offset-2 thumb2_wrapper"><a class="th thumb2" href="#" data-orbit-link="orbit1_slide2"><img src="{% static "stilwiese/img/lena3.jpg" %}" alt="User-Image"/></a></div>
        </div>
        <div class="medium-12 columns">
            <div class="panel options">
            <i class="fi-like"></i>
            </div>
        </div>
    </div>


    <div class="medium-5 columns">
        <div class="medium-11 columns">
        <div class="panel comments-panel">
            <h5>Text zu Bild 1</h5>
            <form>
                <input type="text" placeholder="Neuer Kommentar..."/>
            </form>
            <a class="comments-link" id="comments-link1"><div>Weitere Kommentare</div></a>
            <div class="panel comment-panel">
                    <div class="picture">
                        <img src="{% static "http://www.corporatetraveller.ca/assets/images/profile-placeholder.gif" %}" alt="User-Image"/>
                    </div>
                    <div class="comment-wrapper">
                        <div class="user">
                            <b>Benutzer 1 adöl adlköla lka ad da asdefad adsdaef</b>
                        </div>
                        <div class="comment">
                            Kommentar 1 Komme ntar 1Komme ntar 1Ko mmentar 1Kommen tar 1Komment ar 1Komme ntar  1Kom mentar 1
                        </div>
                    </div>
                </div>
                <div class="panel comment-panel">
                    <div class="picture">
                        <img src="{% static "http://www.corporatetraveller.ca/assets/images/profile-placeholder.gif" %}" alt="User-Image"/>
                    </div>
                    <div class="comment-wrapper">
                        <div class="user">
                            <b>Benutzer 1 f</b>
                        </div>
                        <div class="comment">
                            Kommentar 1
                        </div>
                    </div>
                </div>
            <div class="comments">

                <div class="panel comment-panel">
                    <div class="picture">
                        <img src="{% static "http://www.corporatetraveller.ca/assets/images/profile-placeholder.gif" %}" alt="User-Image"/>
                    </div>
                    <div class="comment-wrapper">
                        <div class="user">
                            <b>Benutzer 1 f</b>
                        </div>
                        <div class="comment">
                            Kommentar 1
                        </div>
                    </div>
                </div>
                <div class="panel comment-panel">
                    <div class="picture">
                        <img src="{% static "http://www.corporatetraveller.ca/assets/images/profile-placeholder.gif" %}" alt="User-Image"/>
                    </div>
                    <div class="comment-wrapper">
                        <div class="user">
                            <b>Benutzer 1 f</b>
                        </div>
                        <div class="comment">
                            Kommentar 1
                        </div>
                    </div>
                </div>
                <div class="panel comment-panel">
                    <div class="picture">
                        <img src="{% static "http://www.corporatetraveller.ca/assets/images/profile-placeholder.gif" %}" alt="User-Image"/>
                    </div>
                    <div class="comment-wrapper">
                        <div class="user">
                            <b>Benutzer 1 f</b>
                        </div>
                        <div class="comment">
                            Kommentar 1
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="medium-7 columns">
        <div class="medium-7 columns orbit_col">
        <a class="th">
        <ul class="orbit-container" id="orbit2" data-orbit data-options="bullets: false; slide_number: false; pause_on_hover: true; resume_on_mouseout: true; animation_speed: 700; animation: fade; timer: false">
                        {# Show orbit images. Images are referenced in templates by image.url using the media root defined in the settings #}
                        <li data-orbit-slide="orbit2_slide0">
                            <img src="{% static "stilwiese/img/lena4.jpg" %}" alt="User-Image"/>
                        </li>
                        <li data-orbit-slide="orbit2_slide1">
                            <img src="{% static "stilwiese/img/lena5.jpg" %}" alt="User-Image"/>
                        </li>
                        <li data-orbit-slide="orbit2_slide2">
                            <img src="{% static "stilwiese/img/lena6.jpg" %}" alt="User-Image"/>
                        </li>

            </ul>
        </a>
        </div>
        <div class="medium-5 columns thumbs_col">
            <div class="medium-10 columns medium-offset-2"><a class="th thumb1" href="#" data-orbit-link="orbit2_slide1"><img src="{% static "stilwiese/img/lena5.jpg" %}" alt="User-Image"/></a></div>
            <div class="medium-10 columns medium-offset-2 thumb2_wrapper"><a class="th thumb2" href="#" data-orbit-link="orbit2_slide2"><img src="{% static "stilwiese/img/lena6.jpg" %}" alt="User-Image"/></a></div>
        </div>
        <div class="medium-12 columns">
            <div class="panel options">
            <i class="fi-like"></i>
            </div>
        </div>
    </div>


    <div class="medium-5 columns">
        <div class="medium-11 columns">
        <div class="panel comments-panel">
            <h5>Text zu Bild 1</h5>
            <form>
                <input type="text" placeholder="Neuer Kommentar..."/>
            </form>
            <a class="comments-link" id="comments-link1"><div>Weitere Kommentare</div></a>
            <div class="panel comment-panel">
                    <div class="picture">
                        <img src="{% static "http://www.corporatetraveller.ca/assets/images/profile-placeholder.gif" %}" alt="User-Image"/>
                    </div>
                    <div class="comment-wrapper">
                        <div class="user">
                            <b>Benutzer 1 adöl adlköla lka ad da asdefad adsdaef</b>
                        </div>
                        <div class="comment">
                            Kommentar 1 Komme ntar 1Komme ntar 1Ko mmentar 1Kommen tar 1Komment ar 1Komme ntar  1Kom mentar 1
                        </div>
                    </div>
                </div>
                <div class="panel comment-panel">
                    <div class="picture">
                        <img src="{% static "http://www.corporatetraveller.ca/assets/images/profile-placeholder.gif" %}" alt="User-Image"/>
                    </div>
                    <div class="comment-wrapper">
                        <div class="user">
                            <b>Benutzer 1 f</b>
                        </div>
                        <div class="comment">
                            Kommentar 1
                        </div>
                    </div>
                </div>
            <div class="comments">

                <div class="panel comment-panel">
                    <div class="picture">
                        <img src="{% static "http://www.corporatetraveller.ca/assets/images/profile-placeholder.gif" %}" alt="User-Image"/>
                    </div>
                    <div class="comment-wrapper">
                        <div class="user">
                            <b>Benutzer 1 f</b>
                        </div>
                        <div class="comment">
                            Kommentar 1
                        </div>
                    </div>
                </div>
                <div class="panel comment-panel">
                    <div class="picture">
                        <img src="{% static "http://www.corporatetraveller.ca/assets/images/profile-placeholder.gif" %}" alt="User-Image"/>
                    </div>
                    <div class="comment-wrapper">
                        <div class="user">
                            <b>Benutzer 1 f</b>
                        </div>
                        <div class="comment">
                            Kommentar 1
                        </div>
                    </div>
                </div>
                <div class="panel comment-panel">
                    <div class="picture">
                        <img src="{% static "http://www.corporatetraveller.ca/assets/images/profile-placeholder.gif" %}" alt="User-Image"/>
                    </div>
                    <div class="comment-wrapper">
                        <div class="user">
                            <b>Benutzer 1 f</b>
                        </div>
                        <div class="comment">
                            Kommentar 1
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</div>
{% endblock %}