{% extends 'stilwiese/base.html' %}
{% load static %}

{% block my_css %}
    <link rel="stylesheet" href="{% static 'stilwiese/css/jquery-jvectormap.css' %}" type="text/css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'stilwiese/css/map.css' %}">
{% endblock %}

{% block my_head_js %}
{% endblock %}

{% block my_body_js %}
    <script src="{% static 'stilwiese/js/jquery.jvectormap.min.js' %}"></script>
    <script src="{% static 'stilwiese/js/jquery-jvectormap-de-mill-en.js' %}"></script>

    <script>

    set_orbit_height = function(){
       var maxHeight = -1;

       $('.orbit-slide').each(function() {
         maxHeight = maxHeight > $(this).height() ? maxHeight : $(this).height();
       });
       $('.orbit-container').height(maxHeight);
    };

    set_map_height = function(){
       var height = $("#right-column").height();
       $("#left-column").height(height);
    };

    init_map = function() {
        $('#map').vectorMap({
            map: 'de_mill_en',
            //backgroundColor: ['blue'],
            zoomOnScroll: false,
            markers: [
                {latLng: [48.13333333333333, 11.516666666666667], name: 'München'}
            ]
        });
    };

    set_orbit_height();
    $(".orbit-container").find(".paused").click();
    set_map_height();
    init_map();



    $(window).resize(function(){
      set_orbit_height();
    });

    </script>
{% endblock %}

{% block body %}
<div class="row content">
    <div class="large-6 columns" id="left-column">
        <div id="map"></div>
    </div>
    <div class="large-6 columns" id="right-column">
        <div class="row">
            <div class="large-12 columns">
            <div class="panel newsticker">
                <h2><u>Newsticker:</u></h2>
                <ul class="orbit-container" data-orbit data-options="bullets: false; slide_number: false; pause_on_hover: true; resume_on_mouseout: true; animation_speed: 800; navigation_arrows: false;">
                        <li class="orbit-slide">
                            <h5>Diesen Monat ist das Thema black & white im Programm - Gründe dein Team, sammle ICs und gewinne...</h5>
                        </li>
                        <li class="orbit-slide">
                            <h5>Mach mit bei unserem großen black & white Gewinnspiel und gründe dein Team...</h5>
                        </li>
                        <li class="orbit-slide">
                            <h5>Mach mit bei unserem großen black & white Gewinnspiel und gründe dein Team...
                            Mach mit bei unserem großen black & white Gewinnspiel und gründe dein Team...
                            Mach mit bei unserem großen black & white Gewinnspiel und gründe dein Team...
                            Mach mit bei unserem großen black & white Gewinnspiel und gründe dein Team...
                            Mach mit bei unserem großen black & white Gewinnspiel und gründe dein Team...</h5>
                        </li>
                </ul>

            </div>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns pictures">
                <div class="panel pictures" id="upper-pictures-panel">
                    <img class="picture one" src="http://www.wallaceandgarcia.com/public/images/attoney_pics/no-picture-normal.png">
                    <img class="picture two" src="http://www.wallaceandgarcia.com/public/images/attoney_pics/no-picture-normal.png">
                    <img class="picture three" src="http://www.wallaceandgarcia.com/public/images/attoney_pics/no-picture-normal.png">
                </div>
                <div class="panel subtexts">
                    <div class="subtext one">
                        <div class="subtext name">
                            Sandra<br>
                            200.000 WCs
                        </div>
                        <div class="panel subtext first">IC<span class="u">u</span></div>
                    </div>
                    <div class="subtext two">
                        <div class="subtext name">
                            Sandra<br>
                            200 WCs
                        </div>
                        <div class="panel subtext">IC<span class="u">u</span></div>
                    </div>
                    <div class="subtext three">
                        <div class="subtext name">
                            Sandra<br>
                            200 WCs
                        </div>
                        <div class="panel subtext">IC<span class="u">u</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns pictures">
                <div class="panel pictures" id="lower-pictures-panel">
                    <img class="picture one" src="http://www.wallaceandgarcia.com/public/images/attoney_pics/no-picture-normal.png">
                    <img class="picture two" src="http://www.wallaceandgarcia.com/public/images/attoney_pics/no-picture-normal.png">
                    <img class="picture three" src="http://www.wallaceandgarcia.com/public/images/attoney_pics/no-picture-normal.png">
                </div>
                <div class="panel subtexts" id="lower-subtexts-panel">
                    <div class="subtext one">
                        <div class="subtext name">
                            Markus<br>
                            200.000 WCs
                        </div>
                        <div class="panel subtext first">IC<span class="u">u</span></div>
                    </div>
                    <div class="subtext two">
                        <div class="subtext name">
                            Markus<br>
                            200 WCs
                        </div>
                        <div class="panel subtext">IC<span class="u">u</span></div>
                    </div>
                    <div class="subtext three">
                        <div class="subtext name">
                            Markus<br>
                            200 WCs
                        </div>
                        <div class="panel subtext">IC<span class="u">u</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}