a.th{
    width: 100%;
}

.fashion-picture > a.th{
    width: 75%;
}

a.th > img, .orbit-container, .orbit-container > li > img{
    width: 100%;
    height: 100%;
}

.fashion-picture.even{
    text-align: right;
}

.comments-panel{
    padding-bottom: 0.5rem;
    width: 100%;
}

.comments{
    display: none;
}

.comment-panel{
    display: table;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.comments-link > div{
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
}

.picture{
    display: table-cell;
    width: 3rem;
    padding-right: 0.5rem;
}

.picture > img{
    height: 3rem;
    width: 3rem;

}

.comment-wrapper{
    display: table-cell;
    vertical-align: top;
}

.user{
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.comment{
    font-size: 0.85rem;
}