.row.content{
    margin-bottom: 30px;
}

.top_selection{
    height: 80px;
}

.panel.top_selection{
    display: table-cell;
    vertical-align: middle;
}

.scrollable.top_selection{
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
}

.scrollable.top_selection span span{
    display: inline-block;
    text-align: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}


.scrollable.top_selection span span.active{
    color: #ffffff;
}

.scrollable.top_selection span span:hover{
    cursor: pointer;
    color: #ffffff;
    background-color: rgb(80,64,50);
}

.th, .th img{
    width: 100%;
}

.th{
    position: relative;
    margin-bottom: 5px;
}

.panel.chart{
    margin-bottom: 5px;
    background-color: rgba(255,255,255,0.7);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
}

.panel.first{
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.7);

    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}

.panel.first p{
    padding: 0;
    margin: 0;
}

.panel.chart:hover{
    cursor: pointer;
}

.panel.chart .name{
    width: 80%;
    vertical-align: text-bottom;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel.chart .picture{
    display: inline-block;
    width: 20%;
    text-align: right;
}

.panel.chart .picture img{
    height: 2.5rem;
    width: 2.5rem;
}
