{%load static%}
/* img.bg {

  filter:alpha(opacity=25); /* IE */
  /*-moz-opacity: 0.25; /* Mozilla */
  /*opacity: 0.25; /* Opera */


  /* Set rules to fill background */
  /*min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  /*width: 100%;
  height: auto;

  /* Set up positioning */
  /*position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  /*img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  /*}
}
*/

body {
  background: url(../img/background2.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: 'Lora', serif;
}

.white{
    background-color: rgb(255,255,255);
}

.white-t{
    background-color: rgba(255,255,255,0.5);
}

.white-f{
    color: rgb(255,255,255);
}

.red{
    background-color: rgb(108,13,13);
}

.red-t{
    background-color: rgba(108,13,13,0.5);
}

.red-f{
    color: rgb(108,13,13);
}

.lightgrey{
    background-color: rgb(209,225,203);
}

.lightgrey-t{
    background-color: rgba(209,225,203,0.5);
}

.lightgrey-f{
    color: rgb(209,225,203);
}

.darkgrey{
    background-color: rgb(80,64,50);
}

.darkgrey-t{
    background-color: rgba(80,64,50,0.5);
}

.darkgrey-f{
    color: rgb(80,64,50);
}

.fixed.header{
    height: 7.5rem;
    width: 100%
}

.fixed.header > .upper-background{
    height: 60%;
    width: 100%
}

.fixed.header > .lower-background{
    height: 40%;
    width: 100%
}

.header.container{
    height: 7.5rem;
}

.header.columns{
    height: 100%;
}

#logo-panel{
    height: 9rem;
    width: 10rem;
    border-width: 0.2rem;
}

#upper-header-panel{
    height: 100%;
    position: relative;
    padding-bottom: 0.5%;
    padding-left: 10%;

    background: none;
    border: none;

    display: table;
}

#upper-header-panel > div{
    display: table-cell;
    vertical-align: bottom;
}

#lower-header-panel{
    height: 100%;
    position: relative;
    padding-top: 0.5%;
    padding-left: 30%;

    background: none;
    border: none;
}

#upper-header-row{
    height: 60%;
}

#lower-header-row{
    height: 40%;
}


#logo:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#logo{
    font-size: 5rem;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.panel.header > .heading {
    font-size: 1.25rem;
}

.row.content{
    margin-top: 10.6rem;
}

.footer{
    height: 20rem;
    margin-top: 7rem;
}
