html {
    background-image: url("../../../images/background.jpg");
    background-repeat: no-repeat;
    background-position: right  top;
    background-attachment:fixed;
}

h1 {
    color: red;
}

div {
    background-color: blue;
}