.side-nav{
    padding-top: 0;
}

.side-nav > li{
    text-align: center;
}

.side-nav > li > a{
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    color: rgb(80,64,50) !important;
    font-family: 'Lora', serif;
}

.side-nav > li > a:hover{
    color: rgb(209,225,203) !important;
}

.side-nav > li:hover{
    background-color: rgba(108,13,13,1);
}

a.th > img{
    width: 100%;
    height: 100%;
}

a.th{
    width: 100%;
}
