#map{
    height: 100%;
}

.panel.newsticker{
    background-color: rgba(100,100,100,0.7);
}

.columns.pictures{
    display: inline-block;
}

.panel.pictures{
    width: 100%;
    text-align: center;
    padding-bottom: 0.5rem;
    margin-bottom: 0.7rem;

    border: none;
}

#upper-pictures-panel{
    background-color: rgba(195,0,0,0.7);
}

#lower-pictures-panel{
    background-color: rgba(100,100,100,0.7);
}

.picture.two:before, .picture.three:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
}

.picture.one{
    display: inline-block;
    vertical-align: bottom;
    width: 30%;
    margin-right: 5%;
}

.picture.two, .picture.three{
    display: inline-block;
    vertical-align: bottom;
    width: 27%;
}

.picture.two, .subtext.two{
    margin-right: 2%;
}

/*.subtext.one:before, .subtext.two:before, .subtext.three:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
*/

.subtext.one{
    width: 30%;
    margin-right: 5%;
}

.subtext.two, .subtext.three{
    width: 27%;
}

.panel.subtexts{
    text-align: center;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;

    border: none;
    background: none;
}

.subtext{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-size: 0.6rem;
}

.panel.subtext{
    padding: 0.3rem;
    margin: 0;

    border-color: black;
    background: none;

    font-size: 0.8rem
}

.panel.subtext.first{
    font-size: 1.2rem
}

.subtext.name{
    margin-bottom: 2px;
}

#lower-subtexts-panel{
    margin-bottom: 0;
}

.u{
    color: rgb(195,0,0);
}

.orbit-timer{
    display: none;
}