.columns.pictures{
    display: inline-block;
}

.panel.pictures{
    background-color: indianred;
    width: 100%;
    text-align: center;
    padding-bottom: 0.5rem;
    margin-bottom: 0.7rem;
}

.picture.two:before, .picture.three:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
}

.picture.one, .subtext.one{
    display: inline-block;
    vertical-align: bottom;
    width: 30%;
    margin-right: 5%;
}

.picture.two, .picture.three, .subtext.two, .subtext.three{
    display: inline-block;
    vertical-align: bottom;
    width: 27%;
}

.panel.subtexts{
    text-align: center;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
}

.subtext{
    margin: 0;
    text-align: left;
    font-size: 0.8rem;
}

.panel.subtext{
    padding: 0.3rem;
    margin: 0;
}